.bg-orange {
    background-color: orange;
}

.text-orange {
    color: orange;
}

.navbar-user-icon {
    height: 30px;
}

.navbar {
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
}

.sign-out {
    color: white;
}

.sign-out:hover {
    color: orangered;
}
